@CHARSET "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html{
	font-family: 'Nanum Gothic Coding';
}

body{
	font-family: 'Nanum Gothic Coding';
}

div{
	font-family: 'Nanum Gothic Coding';
}

span{
	font-family: 'Nanum Gothic Coding';
}