<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>d3js</display-name>
  <welcome-file-list>
    <welcome-file>search.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>SearchKeyword</servlet-name>
  	<servlet-class>dke.sj.d3js.websocket</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchKeyword</servlet-name>
  	<url-pattern>/SearchKeyword</url-pattern>
  </servlet-mapping>
</web-app>